* {
    margin: 0;
    padding: 0;
    }

body {
    background-color: #8CA0B9;
    margin: 0px;
    padding: 0px;
    color: #FFFFFF;
    font-family:  SST, Helvetica, Arial, sans-serif;
}



.container{
    height: 760px;
    max-width: 1450px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(#8CA0B9, #C3D2E5);
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    padding: 15px;
    font-size: 18px;
}

nav ul{
    display:flex;
}

nav ul,
nav li{
    list-style: none;
    margin: 0;
    padding: 0;
}

nav a{
    display: block;
    padding: 3px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 10px;
    text-decoration: none;
    color: #FFFFFF;
    font-family:  SST, Helvetica, Arial, sans-serif;
    font-size: 14px;
    border-radius: 15px;
}

nav a:hover {
    background-color: #C3D2E5;
}

.menu_mobile {
    display: none;
    height: 20px;
    width: 20px;
    border-radius: 20px;
    border-color: #FFFFFF;
    border-style: solid;
    padding: 10px;
    margin: 5px;
}

.menu_line{
    height: 2px;
    background-color: #FFFFFF;
}


.banner{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 540px;
    margin-top: 80px;
}

.banner_texto{
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-left: 100px;
}

.banner_texto h1{
    font-size: 48px;
    margin-bottom: 20px;
}
.banner_texto h2{
    font-size: 22px;
}

button{
    color: #8B8B8D;
    width: 165px;
    height: 35px;
    font-size: 18px;
    border-radius: 12px;
    border-style: none;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}

button:active{
    background-color: #EAEAEA;
}

.banner_imagem{
    flex: 1;
}
.banner_imagem img{
    max-width: 725px;
}

.container1 {
    max-width: 1450px;
    margin-left: auto;
    margin-right: auto;
    background-image:url('../images/bg1.png');
    background-position:center top;
    background-size: 100vw auto;
    background-repeat: no-repeat;
    background-color: #FFFFFF;
    color: #707072;
}

.content1 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 150px;
    padding-bottom: 100px;
}

.container_white {
    max-width: 1450px;
    margin-left: auto;
    margin-right: auto;
    background-color: #FFFFFF;
    color: #707072;
}

.content_white {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 100px;
}

.cw_imagem{

    margin-left: 100px;
}
.cw_imagem img{
    width: 518px;
}

.cw_texto{
    padding-left: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 100px;
}

h1{
    font-size: 36px;
    padding-bottom: 20px;
}

p{
    font-size: 16px;
    line-height: 22px;
    padding-bottom: 15px;
    text-align: justify;
}

.container_blue {
    max-width: 1450px;
    margin-left: auto;
    margin-right: auto;
    background-color: #C3D2E5;
    color:#FFFFFF;
}

.content_blue{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 100px;
}

.cb_texto{
    margin-left: 100px;
}

.cb_texto ul{
    padding-left:15px;
}
.cb_imagem{
    margin-right: 100px;

}

.cb_imagem img{
   width: 518px;
}

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1450px;
    margin-left: auto;
    margin-right: auto;
    color: #FFFFFF;
    background-image: linear-gradient(#C3D2E5, #8CA0B9 );
}

.container_footer {
    display: flex;
    justify-content: center;
}

.content_footer{
    padding: 50px;
}

.content_footer ul, .content_footer li{
    list-style: none;
    margin: 0;
    padding-bottom: 15px;
}

.content_footer a{
    color: #FFFFFF;
    text-decoration: none;
    font-size: 14px;
}

.copyright{
    padding-bottom: 50px;
}
.copyright p{
    font-size: 14px;
    line-height: 18px;
    text-align: center;
}



@media (min-width: 1024px) and (max-width: 1279px) {
    .banner_imagem img{
        max-width: 500px;
    }

    .cw_imagem img, .cb_imagem img{
        width: 350px;
    }
    
}

@media (min-width: 768px) and (max-width: 1023px){
    .banner_imagem img{
        max-width: 350px;
    }

    .cw_imagem img, .cb_imagem img{
        width: 250px;
    }

    .banner_texto h1{
        font-size: 36px;
        margin-bottom: 10px;
    }
    .banner_texto h2{
        font-size: 18px;
    }

    h1{
        font-size: 24px;
        padding-bottom: 20px;
    }
    
    p{
        font-size: 16px;
        line-height: 22px;
        padding-bottom: 15px;
        text-align: justify;
    }

    .cw_texto{
        padding-left: 50px;
        margin-right: 50px;
    }

    .cw_imagem {
        margin-left: 50px;
    }

    .cb_texto{
        margin-left: 50px;
    }

    .cb_imagem {
        margin-right: 50px;
    }


}

@media (max-width: 767px) {
    
    .banner{
        flex-direction: column;
        align-items: center;
        margin-top: 30px;
    }
    
    .banner_imagem img{
        max-width: 350px;
        padding-top: 50px;
    }


    .banner_texto{
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    .banner_texto h1{
        font-size: 36px;
        margin-bottom: 10px;
    }
    .banner_texto h2{
        font-size: 18px;
    }

    button{
        width: 100px;
        height: 24x;
        font-size: 14px;
    }

    h1{
        font-size: 24px;
        padding-bottom: 20px;
    }
    
    p{
        font-size: 16px;
        line-height: 22px;
        padding-bottom: 15px;
        text-align: justify;
    }

    .content1{
        flex-direction: column;
        align-items: center;
        padding-top: 50px;
    }

    .content_white{
        flex-direction: column;
        align-items: center;
    }

    .content_blue{
        flex-direction: column;
        align-items: center;
    }

    .cw_imagem img, .cb_imagem img{
        width: 250px;
    }

    
    .cw_texto{
        padding-left: 50px;
        margin-right: 50px;
    }

    .cw_imagem, .cb_imagem  {
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 20px;
    }

    .cb_texto{
        margin-left: 50px;
        padding-right: 50px;
    }

    .container_footer {
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    .content_footer{
        padding: 15px;
    }

    .content_footer a{
        font-size: 12px;
    }

    .content_footer ul, .content_footer li{
        padding-bottom: 0px;
    }

    .copyright{
        padding-top: 50px;
    }
    .copyright p{
        font-size: 12px;
        line-height: 14px;
    }

    .menu_mobile {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    nav a{
        color: #707072;
        border-radius: 15px;
        padding: 15px;
        border-radius: 0px;
    }

    nav ul{
        flex-direction: column;
        display: none;
        position: absolute;
        left: 0;
        width: 100%;
        background-color: #FFFFFF;
    }

}